Repository wontory/wontory.dev-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{astro,js,jsx,ts,tsx}": "eslint --fix",
  "*.{astro,js,jsx,ts,tsx,md,mdx,html,css}": "prettier --write"
}

docs: 유니음 헤더 이미지 변경
  src/content/project/unieum/images/index.png
Due: none

chore: upgrade astro
  package.json
  pnpm-lock.yaml
Due: none

feat: toc style 정의
  src/layouts/post-layout.astro
  src/styles/toc.css
Due: eslint --fix, prettier --write

fix: tocbot class 재정의
  src/components/toc-script.astro
  src/layouts/post-layout.astro
  src/styles/toc.css
Due: eslint --fix, prettier --write

style: format mdx.css
  src/styles/mdx.css
Due: prettier --write

refactor: migrate content style to tailwindcss
  src/styles/toc.css
Due: prettier --write

chore(shadcn/ui): install badge component
  src/components/ui/badge.tsx
Due: eslint --fix, prettier --write

feat: 블로그 목록에서 게시글 카드에 카테고리 뱃지 추가
  src/pages/blog/index.astro
Due: eslint --fix, prettier --write

chore: use pnpm via corepack
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

feat(create-turbo): apply package-manager transform
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: delete initial apps
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/favicon.ico
  apps/docs/app/fonts/GeistMonoVF.woff
  apps/docs/app/fonts/GeistVF.woff
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.module.css
  apps/docs/app/page.tsx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/public/file-text.svg
  apps/docs/public/globe.svg
  apps/docs/public/next.svg
  apps/docs/public/vercel.svg
  apps/docs/public/window.svg
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/README.md
  apps/web/app/favicon.ico
  apps/web/app/fonts/GeistMonoVF.woff
  apps/web/app/fonts/GeistVF.woff
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.module.css
  apps/web/app/page.tsx
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/file-text.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

chore: update package names to use "@wontory" instead of "@repo"
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lint.json
Due: eslint --fix, prettier --write

chore: update prettier configuration and dependencies
  .prettierrc
  package.json
Due: none

chore(tailwindcss-config): create tailwindcss-config package
  packages/tailwindcss-config/package.json
  packages/tailwindcss-config/postcss.config.js
  packages/tailwindcss-config/tailwind.config.js
Due: eslint --fix, prettier --write

chore(blog): create blog app
  apps/blog/.eslintrc.mjs
  apps/blog/.gitignore
  apps/blog/README.md
  apps/blog/next.config.mjs
  apps/blog/package.json
  apps/blog/postcss.config.mjs
  apps/blog/public/next.svg
  apps/blog/public/vercel.svg
  apps/blog/src/app/favicon.ico
  apps/blog/src/app/globals.css
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/page.tsx
  apps/blog/tailwind.config.ts
  apps/blog/tsconfig.json
Due: eslint --fix, prettier --write

chore(tailwindcss-config): add globals.css to package files
  packages/tailwindcss-config/globals.css
  packages/tailwindcss-config/package.json
Due: prettier --write

style(*): format code
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/turbo/generators/config.ts
Due: eslint --fix, prettier --write

chore(*): install packages
  bun.lockb
Due: none

style: format code
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/turbo/generators/config.ts
Due: eslint --fix, prettier --write

chore: install packages
  bun.lockb
Due: none

chore(blog): remove unnecessary files
  apps/blog/public/next.svg
  apps/blog/public/vercel.svg
  apps/blog/src/app/favicon.ico
  apps/blog/src/app/globals.css
Due: prettier --write

chore(blog): init blog app
  apps/blog/src/app/layout.tsx
  apps/blog/src/app/page.tsx
Due: eslint --fix, prettier --write

refactor(blog): move app folder out of src
  apps/blog/app/layout.tsx
  apps/blog/app/page.tsx
Due: eslint --fix, prettier --write

fix(blog): update tailwind.config.ts and postcss.config.js
  apps/blog/postcss.config.js
  apps/blog/postcss.config.mjs
  apps/blog/tailwind.config.ts
Due: eslint --fix, prettier --write

chore(www): create www app
  apps/www/.eslintrc.mjs
  apps/www/.gitignore
  apps/www/README.md
  apps/www/app/layout.tsx
  apps/www/app/page.tsx
  apps/www/next.config.mjs
  apps/www/package.json
  apps/www/postcss.config.js
  apps/www/tailwind.config.ts
  apps/www/tsconfig.json
  bun.lockb
Due: eslint --fix, prettier --write

style: format code
  apps/blog/.eslintrc.mjs
  apps/blog/next.config.mjs
  apps/www/.eslintrc.mjs
  apps/www/next.config.mjs
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/react-internal.js
  packages/ui/.eslintrc.js
Due: eslint --fix, prettier --write

chore(ui): remove @turbo/gen
  bun.lockb
  packages/ui/package.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
Due: eslint --fix, prettier --write

chore(tailwindcss-config): update postcss.config.js and tailwind.config.js file formats and names
  apps/blog/postcss.config.js
  apps/blog/postcss.config.mjs
  apps/www/postcss.config.js
  apps/www/postcss.config.mjs
  packages/tailwindcss-config/package.json
  packages/tailwindcss-config/postcss.config.mjs
  packages/tailwindcss-config/tailwind.config.js
  packages/tailwindcss-config/tailwind.config.ts
Due: eslint --fix, prettier --write

chore(ui): update eslint configuration to use .mjs file format and remove tsconfig.lint.json
  packages/ui/.eslintrc.mjs
  packages/ui/tsconfig.lint.json
Due: none

chore(ui): add tailwindcss configuration file and update package exports
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/tailwind.config.ts
Due: eslint --fix, prettier --write

feat: update tailwind.config.ts for ui components
  apps/blog/app/page.tsx
  apps/blog/tailwind.config.ts
  apps/www/app/page.tsx
  apps/www/tailwind.config.ts
  bun.lockb
Due: eslint --fix, prettier --write

chore(ui): update postcss.config.mjs export format
  packages/ui/postcss.config.mjs
Due: none

chore: update tailwind.config.ts export format
  apps/blog/tailwind.config.ts
  apps/www/tailwind.config.ts
Due: eslint --fix, prettier --write

chore: add commitlint and husky for commit message validation
  .commitlintrc
  .husky/commit-msg
  bun.lockb
  package.json
Due: none

chore: add lint-staged for code formatting
  .lintstagedrc
  bun.lockb
  package.json
Due: none

chore: rename `@wontory/ui/tailwindcss` to `@wontory/ui/tailwind.config.ts`
  apps/blog/tailwind.config.ts
  apps/www/tailwind.config.ts
  bun.lockb
  packages/ui/package.json
Due: eslint --fix, prettier --write

chore(ui): remove unused ui components
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
Due: eslint --fix, prettier --write
