Repository wontory/wontory.dev-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: remove nav-menu radio group
  src/components/client/nav-menu.tsx
  src/components/header.astro
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

refactor: subpath 로직 위치 변경
  src/components/client/nav-menu.tsx
  src/components/header.astro
Due: eslint --fix, prettier --write

refactor: chevron 제거
  src/components/client/nav-menu.tsx
Due: eslint --fix, prettier --write

feat: redesign header
  src/components/client/menu-toggle.tsx
  src/components/client/nav-menu.tsx
  src/components/header.astro
Due: eslint --fix, prettier --write

feat: base-layout main-layout 분리
  src/layouts/base-layout.astro
  src/layouts/main-layout.astro
  src/layouts/post-layout.astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: theme-script 추가
  src/components/base-head.astro
  src/components/theme-script.astro
  src/layouts/base-layout.astro
Due: eslint --fix, prettier --write

feat: mode-toggle 추가
  src/components/client/mode-toggle.tsx
  src/components/header.astro
Due: eslint --fix, prettier --write

refactor: 아이콘 크기 수정
  src/components/client/menu-toggle.tsx
  src/components/header.astro
Due: eslint --fix, prettier --write

refactor: theme-light를 light로 수정
  src/components/client/mode-toggle.tsx
Due: eslint --fix, prettier --write

feat: view transitions 비활성화
  src/components/base-head.astro
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

feat: add aceternity sparkles
  package.json
  pnpm-lock.yaml
  src/components/client/sparkles.tsx
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: text color a11y 개선
  src/components/link.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: project 영역 추가
  src/components/client/menu-toggle.tsx
  src/content/config.ts
  src/content/project/first-post/blog-placeholder-3.jpg
  src/content/project/first-post/index.md
  src/content/project/markdown-style-guide/blog-placeholder-1.jpg
  src/content/project/markdown-style-guide/index.md
  src/content/project/second-post/blog-placeholder-4.jpg
  src/content/project/second-post/index.md
  src/content/project/third-post/blog-placeholder-2.jpg
  src/content/project/third-post/index.md
  src/content/project/using-mdx/blog-placeholder-5.jpg
  src/content/project/using-mdx/index.mdx
  src/pages/index.astro
  src/pages/project/[...slug].astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

fix: view transitions 다크 모드 오류 수정
  src/components/base-head.astro
  src/components/client/mode-toggle.tsx
  src/components/theme-script.astro
Due: eslint --fix, prettier --write

chore: install vercel adapter
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix: enable vercel web analytics
  astro.config.mjs
Due: none

Revert "fix: enable vercel web analytics"
  astro.config.mjs
Due: none

Revert "chore: install vercel adapter"
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix: 클라이언트 컴포넌트 로드 방식 변경
  src/components/header.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: 게시글 draft 기능 구현
  src/content/config.ts
  src/pages/blog/index.astro
Due: eslint --fix, prettier --write

feat: delete dummy posts
  src/content/blog/first-post/blog-placeholder-3.jpg
  src/content/blog/first-post/index.md
  src/content/blog/markdown-style-guide/blog-placeholder-1.jpg
  src/content/blog/markdown-style-guide/index.md
  src/content/blog/second-post/blog-placeholder-4.jpg
  src/content/blog/second-post/index.md
  src/content/blog/third-post/blog-placeholder-2.jpg
  src/content/blog/third-post/index.md
  src/content/blog/using-mdx/blog-placeholder-5.jpg
  src/content/blog/using-mdx/index.mdx
Due: prettier --write

docs: 게시글, 프로젝트 정리
  src/content/blog/ddd-10th-retrospect/Notion.png
  src/content/blog/ddd-10th-retrospect/index.md
  src/content/blog/ddd-10th-retrospect/index.png
  src/content/project/first-post/blog-placeholder-3.jpg
  src/content/project/first-post/index.md
  src/content/project/markdown-style-guide/blog-placeholder-1.jpg
  src/content/project/markdown-style-guide/index.md
  src/content/project/second-post/blog-placeholder-4.jpg
  src/content/project/second-post/index.md
  src/content/project/third-post/blog-placeholder-2.jpg
  src/content/project/third-post/index.md
  src/content/project/using-mdx/blog-placeholder-5.jpg
  src/content/project/using-mdx/index.mdx
  src/content/project/wagglewaggle/index.md
  src/content/project/wagglewaggle/index.png
Due: prettier --write

fix: filtered posts map 오류 수정
  src/pages/blog/index.astro
  src/pages/project/index.astro
  src/pages/rss.xml.js
Due: eslint --fix, prettier --write

feat: sparkles 입자 크기, 밀도 수정
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: sparkles color theme 적용
  src/components/client/sparkles.tsx
  src/pages/index.astro
Due: eslint --fix, prettier --write

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

feat: add favicon & site.webmanifest
  public/favicon.svg
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  src/components/base-head.astro
Due: eslint --fix, prettier --write

refactor: change directory name from favicon to favicons
  public/favicons/android-chrome-192x192.png
  public/favicons/android-chrome-512x512.png
  public/favicons/apple-touch-icon.png
  public/favicons/favicon-16x16.png
  public/favicons/favicon-32x32.png
  public/favicons/favicon.ico
  public/favicons/site.webmanifest
Due: none

feat: configure astro vercel
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix: favicon 경로 수정
  src/components/base-head.astro
Due: eslint --fix, prettier --write

docs: about me 페이지 수정
  src/pages/about.astro
Due: eslint --fix, prettier --write

fix: android chrome favicon 경로 수정
  public/favicons/site.webmanifest
Due: none

feat: 테마 변경 토글 수정 #8
  src/components/client/mode-toggle.tsx
Due: eslint --fix, prettier --write

chore: install nanostores
  package.json
  pnpm-lock.yaml
Due: none

feat: 테마 nanostores를 이용한 전역 상태로 관리 #3
  src/components/client/mode-toggle.tsx
  src/components/client/sparkles.tsx
  src/components/theme-script.astro
  src/pages/index.astro
  src/stores/theme.ts
Due: eslint --fix, prettier --write

refactor: theme 관련 타입 삭제
  src/components/client/mode-toggle.tsx
  src/stores/theme.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{astro,js,jsx,ts,tsx}
  prettier --write: any of: *.{astro,js,jsx,ts,tsx,md,mdx,html,css}
