Repository wontory/wontory.dev-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: 함께 일하고 싶은 개발자 되기
  apps/blog/content/posts/commit-being-a-good-co-worker/images/7-commit.png
  apps/blog/content/posts/commit-being-a-good-co-worker/images/grit.jpeg
  apps/blog/content/posts/commit-being-a-good-co-worker/images/reply-1988.avif
  apps/blog/content/posts/commit-being-a-good-co-worker/images/thumbnail.png
  apps/blog/content/posts/commit-being-a-good-co-worker/index.mdx
Due: prettier --write

fix: update image field validation in velite.config.ts
  apps/blog/velite.config.ts
Due: eslint --fix, prettier --write

fix: temporary workaround for a Velite type error
  apps/blog/src/components/post-info.tsx
  apps/blog/velite.config.js
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: migrate from eslint, prettier to biome
  .commitlintrc
  .lintstagedrc
  .prettierrc
  .vscode/settings.json
  README.md
  apps/blog/.eslintrc.mjs
  apps/blog/package.json
  apps/www/.eslintrc.mjs
  apps/www/package.json
  biome.json
  commitlint.config.mjs
  lint-staged.config.mjs
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/library.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react-internal.js
  packages/ui/.eslintrc.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style: format code
  apps/blog/app/layout.tsx
  apps/blog/app/not-found.tsx
  apps/blog/app/page.tsx
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/components/mdx-components.tsx
  apps/blog/src/components/post-card.tsx
  apps/blog/src/components/post-info.tsx
  apps/blog/tailwind.config.ts
  apps/blog/velite.config.js
  apps/www/app/layout.tsx
  apps/www/app/not-found.tsx
  apps/www/app/page.tsx
  packages/ui/src/components/mode-toggle/index.tsx
  packages/ui/src/components/site-footer/index.tsx
  packages/ui/src/components/site-header/index.tsx
  packages/ui/src/components/theme-provider/index.tsx
  packages/util/src/cn/index.ts
Due: eslint --fix, prettier --write

refactor: add image blurDataURL
  apps/blog/src/components/post-card.tsx
Due: eslint --fix, prettier --write

feat(blog): add table of contents component
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/components/toc.tsx
Due: eslint --fix, prettier --write

fix: resolve velite type errors
  apps/blog/src/components/post-info.tsx
  apps/blog/velite.config.ts
  packages/typescript-config/base.json
  packages/typescript-config/react-library.json
Due: eslint --fix, prettier --write

docs: 사진 자료 추가
  apps/blog/content/posts/what-is-oauth/images/example.png
  apps/blog/content/posts/what-is-oauth/images/sequence-diagram-1.png
  apps/blog/content/posts/what-is-oauth/images/sequence-diagram-2.png
  apps/blog/content/posts/what-is-oauth/index.mdx
Due: prettier --write

chore(ui): add accessibility label to mode toggle button
  packages/ui/src/components/mode-toggle/index.tsx
Due: eslint --fix, prettier --write

feat(craft): init project
  apps/craft/.gitignore
  apps/craft/README.md
  apps/craft/app/favicon.ico
  apps/craft/app/layout.tsx
  apps/craft/app/not-found.tsx
  apps/craft/app/page.tsx
  apps/craft/next.config.mjs
  apps/craft/package.json
  apps/craft/postcss.config.mjs
  apps/craft/tailwind.config.ts
  apps/craft/tsconfig.json
  packages/ui/src/components/site-header/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(*): upgrade turbo version to latest
  package.json
  pnpm-lock.yaml
Due: none

fix: add image placeholder for post card image blur data url
  apps/blog/src/components/post-card.tsx
Due: eslint --fix, prettier --write

docs: 쌈@뽕한 Lazy Loading
  apps/blog/content/posts/image-lazy-loading-animation/images/approach-1.gif
  apps/blog/content/posts/image-lazy-loading-animation/images/approach-2.gif
  apps/blog/content/posts/image-lazy-loading-animation/images/reference.gif
  apps/blog/content/posts/image-lazy-loading-animation/images/result.gif
  apps/blog/content/posts/image-lazy-loading-animation/images/thumbnail.png
  apps/blog/content/posts/image-lazy-loading-animation/index.mdx
Due: prettier --write

feat(craft): add image-lazy-loading component
  apps/craft/app/page.tsx
  apps/craft/public/image.jpg
  apps/craft/src/components/image-lazy-loading.tsx
Due: eslint --fix, prettier --write

chore(*): update dev ports for blog, craft, and www apps
  apps/blog/package.json
  apps/craft/package.json
  apps/www/package.json
Due: none

chore(cv): init project
  apps/cv/.gitignore
  apps/cv/README.md
  apps/cv/app/favicon.ico
  apps/cv/app/layout.tsx
  apps/cv/app/not-found.tsx
  apps/cv/app/page.tsx
  apps/cv/next.config.mjs
  apps/cv/package.json
  apps/cv/postcss.config.mjs
  apps/cv/tailwind.config.ts
  apps/cv/tsconfig.json
  packages/ui/src/components/site-header/index.tsx
Due: eslint --fix, prettier --write

chore: update dev ports for blog, craft apps
  apps/blog/package.json
  apps/craft/package.json
Due: none

feat(cv): update dependencies for cv app
  pnpm-lock.yaml
Due: none

feat(cv): update page.tsx
  apps/cv/app/page.tsx
Due: eslint --fix, prettier --write

Update page.tsx
  apps/cv/app/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{astro,js,jsx,ts,tsx}
  prettier --write: any of: *.{astro,js,jsx,ts,tsx,md,mdx,html,css}
