Repository wontory/wontory.dev-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(blog): update GraphQL queries to get markdown content instead of html
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/queries/hashnode.ts
  apps/blog/src/types/post.ts
Due: eslint --fix, prettier --write

refactor(blog): update fetch method in hashnode.ts
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

chore(blog): add console log to check data fetching
  apps/blog/app/page.tsx
Due: eslint --fix, prettier --write

chore(blog): move console log to hashnode.ts
  apps/blog/app/page.tsx
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

chore(blog): remove console log
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

chore(lib): config next-themes
  packages/lib/package.json
  packages/lib/src/next-themes/index.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(ui): add theme-provider component
  packages/ui/src/components/theme-provider/index.tsx
Due: eslint --fix, prettier --write

feat: apply next-themes
  apps/blog/app/layout.tsx
  apps/www/app/layout.tsx
Due: eslint --fix, prettier --write

feat(ui): add mode-toggle component & add light theme styles
  packages/ui/src/components/mode-toggle/index.tsx
  packages/ui/src/components/site-header/index.tsx
  packages/ui/src/styles/globals.css
Due: eslint --fix, prettier --write

feat(blog): add generateMetadata function for post page
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/queries/hashnode.ts
  apps/blog/src/types/post.ts
Due: eslint --fix, prettier --write

fix(blog): add ogMetaData image alternative
  apps/blog/app/post/[slug]/page.tsx
Due: eslint --fix, prettier --write

refactor(ui): update site footer copyright year
  packages/ui/src/components/site-footer/index.tsx
Due: eslint --fix, prettier --write

refactor(blog): remove duplicate code
  apps/blog/app/post/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore(ui): add npm dependency to lucide-react@0.408.0
  packages/ui/package.json
  pnpm-lock.yaml
Due: none

feat(ui): improve mode-toggle component styling and functionality
  packages/ui/src/components/mode-toggle/index.tsx
Due: eslint --fix, prettier --write

chore(blog): remove @tailwindcss/typography
  apps/blog/package.json
  apps/blog/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(blog): install next-mdx-remote
  apps/blog/next.config.mjs
  apps/blog/package.json
  pnpm-lock.yaml
Due: none

feat(blog): add MDX components for rendering headings, paragraphs, blockquotes, tables, etc
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

chore(blog): install bright & remark-gfm
  apps/blog/package.json
  pnpm-lock.yaml
Due: none

feat(blog): add pre & img MDX component
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

refactor(blog): update page.tsx to use remark-gfm
  apps/blog/app/post/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore(ui): add tailwind-scrollbar plugin
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(ui): update global CSS to apply new scrollbar styles
  packages/ui/src/styles/globals.css
Due: prettier --write

feat: add favicon.ico
  apps/blog/app/favicon.ico
  apps/www/app/favicon.ico
Due: none

refactor(blog): update mdx components styles
  apps/blog/app/post/[slug]/page.tsx
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

feat(blog): highlight headings text color
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

feat(blog): add more margin y of image
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

fix(blog): update getAllPosts query
  apps/blog/app/page.tsx
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

fix(blog): set cache-control option to no-store
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

fix(blog): update getAllPosts query's page size
  apps/blog/src/queries/hashnode.ts
Due: eslint --fix, prettier --write

feat(blog): add strong tag mdx style
  apps/blog/src/components/mdx-components.tsx
Due: eslint --fix, prettier --write

fix(blog): set default font weight 400
  apps/blog/app/post/[slug]/page.tsx
Due: eslint --fix, prettier --write

fix: fix hover color of icon buttons in footer
  packages/ui/src/components/site-footer/index.tsx
Due: eslint --fix, prettier --write

refactor: remove next-mdx-remote & add velite as dev dependency
  apps/blog/package.json
  pnpm-lock.yaml
Due: none

refactor: remove hashnode apis & types
  apps/blog/src/queries/hashnode.ts
  apps/blog/src/types/post.ts
  apps/blog/src/types/query.ts
Due: eslint --fix, prettier --write

feat: configure velite
  apps/blog/.gitignore
  apps/blog/next.config.mjs
  apps/blog/tsconfig.json
  apps/blog/velite.config.ts
Due: eslint --fix, prettier --write

feat: apply velite types & datas
  apps/blog/app/page.tsx
  apps/blog/src/components/post-card.tsx
  apps/blog/src/components/post-info.tsx
Due: eslint --fix, prettier --write

docs: add author
  apps/blog/content/authors/wontory.mdx
Due: prettier --write

feat: apply velite types & datas
  apps/blog/app/post/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: update .gitignore to exclude /public/static
  apps/blog/.gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{astro,js,jsx,ts,tsx}
  prettier --write: any of: *.{astro,js,jsx,ts,tsx,md,mdx,html,css}
