Repository wontory/wontory.dev-legacy: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{astro,js,jsx,ts,tsx}": "eslint --fix",
  "*.{astro,js,jsx,ts,tsx,md,mdx,html,css}": "prettier --write"
}

refactor: 레이아웃 이름 변경 base → root, main → base
  src/layouts/base-layout.astro
  src/layouts/main-layout.astro
  src/layouts/post-layout.astro
  src/layouts/root-layout.astro
  src/pages/blog/index.astro
  src/pages/index.astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

chore: install vercel speed-insights
  package.json
  pnpm-lock.yaml
Due: none

feat: speed-insights 적용
  src/layouts/root-layout.astro
Due: eslint --fix, prettier --write

chore: install @giscus/react
  package.json
  pnpm-lock.yaml
Due: none

feat: 블로그 comments 추가
  src/components/client/comments.tsx
  src/pages/blog/[...slug].astro
Due: eslint --fix, prettier --write

fix: menu-toggle iOS 동작 오류 수정
  src/components/header.astro
Due: eslint --fix, prettier --write

feat: 블로그 글 목록 카드 리디자인 #5
  src/pages/blog/index.astro
Due: eslint --fix, prettier --write

fix: 게시글 정렬 수정
  src/pages/blog/index.astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

docs: 프로젝트 업로드_유니음
  src/content/project/unieum/images/1.png
  src/content/project/unieum/images/10.png
  src/content/project/unieum/images/11.png
  src/content/project/unieum/images/12.png
  src/content/project/unieum/images/2.png
  src/content/project/unieum/images/3.png
  src/content/project/unieum/images/4.png
  src/content/project/unieum/images/5.png
  src/content/project/unieum/images/6.png
  src/content/project/unieum/images/7.png
  src/content/project/unieum/images/8.png
  src/content/project/unieum/images/9.png
  src/content/project/unieum/images/index.png
  src/content/project/unieum/index.md
Due: prettier --write

docs: markdown 서식 수정
  src/content/project/wagglewaggle/index.md
Due: prettier --write

refactor: 이미지 저장 위치 변경
  src/content/project/wagglewaggle/images/index.png
  src/content/project/wagglewaggle/index.md
Due: prettier --write

feat(mdx): a 태그 스타일 추가
  src/content/project/unieum/index.md
  src/styles/mdx.css
Due: prettier --write

feat(mdx): image 스타일 수정
  src/layouts/post-layout.astro
  src/pages/blog/index.astro
  src/pages/project/index.astro
  src/styles/mdx.css
Due: eslint --fix, prettier --write

feat(mdx): 이미지 그림자 제거
  src/styles/mdx.css
Due: prettier --write

feat: post-layout 타이틀 굵기 변경
  src/layouts/post-layout.astro
Due: eslint --fix, prettier --write

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

feat: redesign post-layout
  src/layouts/post-layout.astro
Due: eslint --fix, prettier --write

fix: post-layout에서 메인 이미지에 헤더 가리는 현상 수정
  src/components/header.astro
Due: eslint --fix, prettier --write

refactor: project, post layout 분리
  src/layouts/project-layout.astro
  src/pages/project/[...slug].astro
Due: eslint --fix, prettier --write

refactor: giscus-comment layout으로 이동
  src/layouts/post-layout.astro
  src/pages/blog/[...slug].astro
Due: eslint --fix, prettier --write

fix: 댓글 비활성화
  src/layouts/post-layout.astro
Due: eslint --fix, prettier --write

fix: 배포환경, 개발환경 이미지 너비가 달라지는 오류 수정
  src/layouts/post-layout.astro
  src/layouts/project-layout.astro
Due: eslint --fix, prettier --write

refactor: comment 컴포넌트 위치 이동
  src/layouts/post-layout.astro
  src/pages/blog/[...slug].astro
Due: eslint --fix, prettier --write

refactor: project-layout 삭제
  src/layouts/project-layout.astro
  src/pages/project/[...slug].astro
Due: eslint --fix, prettier --write

chore: upgrade pnpm to v9
  pnpm-lock.yaml
Due: none

chore: upgrade packages
  package.json
  pnpm-lock.yaml
Due: none

feat: hover effect 수정
  src/pages/blog/index.astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

feat: 카테고리 추가
  src/content/config.ts
Due: eslint --fix, prettier --write

refactor: 프로젝트 구조 개선, 카테고리 추가
  src/content/blog/ddd-10th-retrospect/Notion.png
  src/content/blog/ddd-10th-retrospect/images/index.png
  src/content/blog/ddd-10th-retrospect/index.md
Due: prettier --write

docs: o-auth 대해 알아보자
  src/content/blog/what-is-oauth/images/index.png
  src/content/blog/what-is-oauth/index.md
Due: prettier --write

feat: create card-hover-effect
  src/components/client/card-hover-effect.tsx
  src/stores/hover-effect.ts
Due: eslint --fix, prettier --write

refactor: hover effect 수정
  src/pages/blog/index.astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

fix: hover effect radius 수정
  src/components/client/card-hover-effect.tsx
Due: eslint --fix, prettier --write

chore: install tocbot
  package.json
  pnpm-lock.yaml
Due: none

feat: create tocbot activate script
  src/components/toc-script.astro
Due: eslint --fix, prettier --write

feat: toc, comment 적용을 위한 레이아웃 재설계
  src/content/config.ts
  src/layouts/post-layout.astro
  src/pages/blog/[...slug].astro
Due: eslint --fix, prettier --write

docs: team member 매니저 → manager 수정
  src/content/project/wagglewaggle/index.md
Due: prettier --write

fix: build 환경에서 post-layout의 header image 크기가 달라지는 현상 수정
  src/layouts/base-layout.astro
  src/pages/blog/index.astro
  src/pages/project/index.astro
Due: eslint --fix, prettier --write

fix: favicon 인식 오류 수정
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  src/components/base-head.astro
Due: eslint --fix, prettier --write

feat: blog-placeholder og 이미지 추가
  public/images/blog-placeholder.png
  src/components/base-head.astro
Due: eslint --fix, prettier --write
